<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- MySQL connection settings -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">
			com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost:8005/student_database</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">sairam</property>

		<!-- Hibernate settings -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!--<property name="hibernate.hbm2ddl.auto">validate</property>-->
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>

		<!-- Entity mappings -->
		<mapping
			class="com.exammanagement.model.UserRegistration" />
		<mapping
			class="com.exammanagement.model.Contact" />
		<mapping
			class="com.exammanagement.model.PaperCategory" />
		<mapping
			class="com.exammanagement.model.QuestionPaper" />
		<mapping
			class="com.exammanagement.model.Report" />
		<mapping
			class="com.exammanagement.model.Testdata" />
		<mapping class="com.exammanagement.model.Testr" />


	</session-factory>
</hibernate-configuration>
